<footer id="colophon" class="site-footer animatedParent" role="contentinfo">
    <div class="footer-wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <section class="widget widget_pages animated flipInX slower clearfix">
                        <h5 class="widget-title">Mapa do site</h5>
                        <ul>
                            <li class="page_item page-item-17"><a href="">Início</a></li>
                            <li class="page_item page-item-19"><a href="#">Crie sua viagem</a></li>
                            <li class="page_item page-item-7 current_page_item"><a href="#">Encontre sua viagem</a></li>
                            <li class="page_item page-item-32"><a href="#">Login</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="widget widget_mc4wp_widget animated flipInX slower clearfix">
                        <h5 class="widget-title">Fique ligado</h5>
                        <div id="mc4wp-form-1" class="form mc4wp-form clearfix">
                            <p>Receba mensalmente ideias legais, histórias inspiradoras, ótimas dicas e super ofertas.</p>
                            <form method="post" class="clearfix">
                                <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Informe seu email" required="">
                                <input type="submit" value="Cadastrar">
                            </form>
                        </div>
                        <!-- / MailChimp for WP Plugin -->
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="widget contact-widget animated flipInX slower clearfix">
                        <h5 class="widget-title">Nossos contatos</h5>
                        <address>
                            <strong> Endereço:</strong> Caixa Postal 999, Brasília-DF
                        </address>
                        <p class="phone-number"><strong>Tel.:</strong> +55 61 99999-9999</p>
                        <p class="email"><strong>Email:</strong><a class="u-url" href="mailto:faleconosco@trwip.com"> faleconosco@trwip.com</a> <i class="fa fa-envelope-o"></i></p>
                    </section>
                </div>
            </div>
        </div>
        <div class="site-info text-center animated pulse">
            <p>Copyright © 2016 - trwip.com - criado por <a href="http://agileminds.me">agileminds.me</a></p>
        </div><!-- .site-info -->
</footer><!-- .site-footer -->